.auth-container-width {
    --auth-container-width: 900px;
    width: var(--auth-container-width);
}

@media (max-width: var(--auth-container-width)) {
    .auth-container-width {
        width: 100%;
    }
}