.button {
  width: 40%;
  padding: 1rem;
}

.auth-container-width {
  --auth-container-width: 900px;
  width: var(--auth-container-width);
}

@media (max-width: var(--auth-container-width)) {
  .auth-container-width {
    width: 100%;
  }
  
}
@media (max-width: 1000px) {
  .button {
    width: 20rem;
  }
  
}
