.input-clue {
  --input-clue-box-shadow: 1px 1px 2px 1px var(--theme-gray-color);

  position: absolute;
  left: 103%;
  top: 0;
  color: var( --error-color);
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  border: 1px solid var(--theme-gray-color);
  -webkit-box-shadow: var(--input-clue-box-shadow);
  box-shadow: var(--input-clue-box-shadow);
  visibility: hidden;
}

.input-clue--active {
  visibility: visible;
}
