.bg-c4c4c4 {background-color: #C4C4C4;}
.btn-bg-C4C4C4 {background-color: #C4C4C4;}
.btn-bg-C4C4C4:hover {background-color: #E4E4E4;}
.text-c4c4c4 {color: #C4C4C4;}
.m-0 {margin: 0;}
.h-page404{height: 40rem;}
.cursor-pointer {cursor:pointer;}

.border-C4C4C4 {border: 1px solid #E4E4E4;}